body{
  background-color: hsl(217, 54%, 11%);
  text-align: center;
  font-family: 'Outfit', sans-serif;
  color: White;
}
h3{
  margin: 10px 0 0 0;
}
em{
  color: white;
  font-style: normal;
}
hr{
  margin-top: 20px;
  border-width: 0.5px  0 0 0;
  border-color: hsl(215, 51%, 70%);

}
p{
  color: hsl(215, 51%, 70%);
  font-weight: 400;
  font-size: 12px;
}
.box-main{

  margin: 10% auto 0 auto;
  width: 15rem;
height: 25.5rem;
  background-color:  hsl(216, 50%, 16%);
  border-radius: 10px;

}
.img-box{
  position: relative;
    width: 85%;
    border-radius: 6px;
    margin-top: 20px;
}
.img-box:hover{

  /* width: 50px; */
}
.text-inside-box{
  text-align: left;
  width: 85%;
  margin: 0 auto 0 auto;
}
.left-box{
  text-align: left;
width: 50%;
display: inline-block;
}

.right-box{
  float: right;
  text-align: right;
    display: inline-block;
    width: 50%;

  }

.left-img{
  float: left;
  padding-right: 5px;
  padding-top: 3px;
}
.right-img{
  float: left;
  padding-left: 26px;
  padding-top: 3px;

}
.stuck{
  margin: 0;
padding-top: 4px;
}
.img-avatar{
  width: 10%;
  float: left;
    border:1px solid white;
    border-radius: 500px;
    margin-right: 10px;

    /* background-color: white; */
}
.bottom-text{
      padding-top: 3px;
}

.text-action{
    margin: 10px 0 0 0;
    text-decoration:none;
    font-size: 1.2rem;
    font-weight: 800;
    color: white;
}
.text2-action{
    margin: 10px 0 0 0;
    text-decoration:none;
    font-size: 12px;
    font-weight: 200;
    color: white;
}
.text-action:hover{
  color: hsl(178, 100%, 50%);
}
.text2-action:hover{
  color: hsl(178, 100%, 50%);
}
